body {background:#283540;font-family: 'Open Sans';}
input{outline: none;}
.lable {position:fixed;top:50%;left:50%;margin-top:-230px;margin-left:-99px;}
.lable img{width:189px;height:198px;}
.formaut{position:fixed;top:50%;left:50%;margin-left:-142px;}
.adminp {outline: none;padding:20px;width:245px;margin-top:15px;background:#162027;border-radius:7px;border:0px;color:#fff;font-size:16px;font-family: 'Open Sans';}
.admbut {cursor:pointer;outline: none;-webkit-box-shadow: 0px 5px 0px 0px rgba(0, 74, 101, 1);
-moz-box-shadow:    0px 5px 0px 0px rgba(0, 74, 101, 1);
box-shadow:         0px 5px 0px 0px rgba(0, 74, 101, 1);width:285px;height:58px;margin-top:20px;background:#005C7C;border-radius:7px;border:0px;color:#fff;font-size:17px;font-weight:bold;font-family: 'Open Sans';}
.panelleft{position:relative;width:240px;top:0px;left:0px;float:left;}
.content{position:relative;top:0px;width:calc(100% - 320px);min-height:600px;background:#F1F2F7;float:left;padding:40px;}
.bodydiv{position:absolute;top:0px;left:0px;width:100%;}
.ban{position:relative;width:240px;z-index:2;height:100px;}
.elemmenu{width:240px;color:#5C6672;padding-top:25px;padding-bottom:25px;font-size:17px;cursor:pointer;}
.elemmenu:hover{background:#1A242E;}
.elemmenu span{line-height:15px;margin-left:17px;}

.vipinp{color:#5C6672;padding:15px;border:0px;border-radius:7px;width:calc(100% - 35px);}
.viptext{outline: none;border:0px;border-radius:7px;width:calc(100% - 35px);height:100px;padding:15px;}
.vipinp1{color:#5C6672;padding:15px;border:0px;border-radius:7px;width:100%;}
.viptext1{outline: none;border:0px;border-radius:7px;width:100%;height:100px;padding:15px;}
.fileinp1{display:none;cursor:pointer;z-index:3;float:left;width:200px;height:40px;}
.fileinp2{display:none;cursor:pointer;z-index:3;float:left;width:200px;height:40px;}

#fileInputText1{padding:0px;padding-left:10px;padding-right:14px;border:0px;background:#5C6672;border-radius:10px;width:200px;height:50px;color:#a6b0bc;float:left;}
#fileInputText2{padding:0px;padding-left:10px;padding-right:14px;border:0px;background:#5C6672;border-radius:10px;width:200px;height:50px;color:#a6b0bc;float:left;}

.obzor{cursor:pointer;text-align:center;float:left;background:#3FCAC0;color:#fff;height:37px;border-radius:10px;width:70px;margin-left:-14px;padding-top:13px;}
.addvip {text-align:center;float:right;cursor:pointer;outline: none;-webkit-box-shadow: 0px 4px 0px 0px rgba(61,188,179, 1);
-moz-box-shadow:    0px 4px 0px 0px rgba(61,188,179, 1);
box-shadow:         0px 4px 0px 0px rgba(61,188,179, 1);width:225px;padding-top:12px;height:38px;background:#3FCAC0;border-radius:7px;border:0px;color:#fff;font-size:17px;font-weight:bold;font-family: 'Open Sans';}
.result{color:#a7665d;font-size:18px;}
.addvip1 {margin-right:35px;text-align:center;float:right;cursor:pointer;outline: none;-webkit-box-shadow: 0px 4px 0px 0px rgba(61,188,179, 1);
-moz-box-shadow:    0px 4px 0px 0px rgba(61,188,179, 1);
box-shadow:         0px 4px 0px 0px rgba(61,188,179, 1);width:225px;padding-top:12px;height:38px;background:#3FCAC0;border-radius:7px;border:0px;color:#fff;font-size:17px;font-weight:bold;font-family: 'Open Sans';}

.offline{position:relative;z-index:2;background:#3FCAC0;color:#fff;width:160px;margin-left:25px;text-align:center;height:22px;padding:15px;margin-top:-31px;border-radius:10px;font-size:14px;cursor:pointer;}
.zagol{margin-top:40px;width:100%;text-align:center;color:#B0BFD3;font-size:25px;}
.flcl{clear:both;}
.vipstr{width:calc(100%-35px);background:#fff;padding:10px;padding-left:20px;color:#989DA4;border-radius:6px;}
.namestr{float:left;}
.upr{float:right;}
.edit {float:left;background:url(../img/icon_rab.png);display:block;width:25px;height:25px;margin-top:-5px;}
.delete {float:left;background:url(../img/icon_rab.png);background-position:-30px -1px;width:25px;height:25px;margin-top:-5px;}
.master{    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; float:left;width:calc(100% - 45px);background:#fff;height:30px;border-radius:5px;margin-bottom:10px;padding-left:15px;padding-top: 7px;color: #5C6672;text-align:left;}
a{text-decoration:none;outline:none;}
.master_ava{height:200px;}
.master_profile{color:#5C6672;background:#fff;padding:20px;margin-bottom:10px;}
.attachments{margin-top: 20px;color:#5C6672;background:#fff;padding-left:20px;padding-right:20px;padding-top:7px;padding-bottom:7px;margin-bottom:10px;}
.delete_master{color:#fff;background:#ce3c3c;padding:5px;width:140px;text-align:center;cursor:pointer;}
.partners_two{width:100%;}
.part_masters{width:40%;position:relative;float:left;text-align:center;color:#5C6672;}
.part_postav{width:40%;position:relative;float:right;text-align:center;color:#5C6672;}

.selec{width:30px;height:37px;background:#283540;float:right;margin-bottom:10px;}

.selec2{width:30px;height:37px;background:#283540;float:right;margin-bottom:10px;}
.mass_mess{    width: 100%;
    margin-top: 20px;}
.mass_mess_text{width: calc(100% - 20px);
    border: 0px;
    padding: 10px;
    resize: none;    color: #5C6672;outline:none;height:100px;}
	